<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      布局 &middot; Primer
    </title>

    <link rel="stylesheet" href="/docs.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <span class="mega-octicon octicon-package"></span>
          Primer
        </a>

        <nav class="masthead-nav">
          <a class="active" href="/scaffolding">文档</a>
          <a  href="/about">关于</a>
          <a href="https://github.com/primer-cn/primer-cn" target="_blank">GitHub</a>
          <a href="https://github.com/primer-cn/primer-cn/blob/master/README.md#install" target="_blank">安装</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns docs-layout">
  <div class="one-fourth column">
    
      <nav class="menu docs-menu">
  <a class="menu-item " href="/scaffolding/">
    脚手架
  </a>
  <a class="menu-item " href="/layout/">
    布局
  </a>
  <a class="menu-item " href="/type/">
    排版
  </a>
  <a class="menu-item " href="/buttons/">
    按钮
  </a>
  <a class="menu-item " href="/forms/">
    表单
  </a>
  <a class="menu-item " href="/nav/">
    导航
  </a>
  <a class="menu-item " href="/alerts/">
    通知
  </a>
  <a class="menu-item " href="/blankslate/">
    空白状态
  </a>
  <a class="menu-item " href="/avatars/">
    头像
  </a>
  <a class="menu-item " href="/states/">
    状态
  </a>
  <a class="menu-item " href="/tooltips/">
    工具提示
  </a>
  <a class="menu-item " href="/utilities/">
    公用程式
  </a>
</nav>

<nav class="menu docs-menu">
  <a class="menu-item " href="/guidelines/">
    代码指南
  </a>
  <a class="menu-item " href="/colors/">
    颜色
  </a>
  <a class="menu-item " href="/markdown/">
    标记
  </a>
</nav>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      布局
    </h1>
    <div class="markdown-body">
      <p>Primer的布局包括基本页面容器和一个单一管理区，基于分数的网格系统。那听起来远比它实际的要复杂——
只不过是容器，行，和列。</p>

<p>你可以在<code class="highlighter-rouge">_layout.scss</code>中找到以下所有样式。</p>

<h2 id="section">目录</h2>

<ul id="markdown-toc">
  <li><a href="#section" id="markdown-toc-section">目录</a></li>
  <li><a href="#section-1" id="markdown-toc-section-1">容器</a></li>
  <li><a href="#section-2" id="markdown-toc-section-2">网格</a>    <ul>
      <li><a href="#section-3" id="markdown-toc-section-3">原理</a></li>
      <li><a href="#section-4" id="markdown-toc-section-4">演示</a></li>
      <li><a href="#section-5" id="markdown-toc-section-5">居中</a></li>
    </ul>
  </li>
</ul>

<h2 id="section-1">容器</h2>

<p>使用<code class="highlighter-rouge">.container</code>让你的页面内容居中。</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- contents here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<p>容器通过<code class="highlighter-rouge">width: 980px;</code>和使用水平的<code class="highlighter-rouge">margin</code>来使内容居中。</p>

<h2 id="section-2">网格</h2>

<h3 id="section-3">原理</h3>

<p>当在行中使用<code class="highlighter-rouge">.columns</code>并在具体每一列中使用column类和分数类就会生成一个标准好看的网格。
这里是它的工作原理：</p>

<ul>
  <li>增加一个<code class="highlighter-rouge">.container</code>来封装所有事情并提供足够的水平空间。</li>
  <li>使用<code class="highlighter-rouge">&lt;div class="columns"&gt;</code>来创建行，并清除列之间的漂浮。</li>
  <li>使用<code class="highlighter-rouge">&lt;div calss="column"&gt;</code>增加列。</li>
  <li>增加分数宽度形式的类来设置列的宽度(例如,<code class="highlighter-rouge">.one-fourth</code>)。</li>
</ul>

<h3 id="section-4">演示</h3>

<p>实际中，你的列将会看起来像下面的例子这样。</p>

<div class="docs-example clearfix"><div class="container">
  <div class="columns">
    <div class="one-fifth column">
      .one-fifth
    </div>
    <div class="four-fifths column">
      .four-fifths
    </div>
  </div>

  <div class="columns">
    <div class="one-fourth column">
      .one-fourth
    </div>
    <div class="three-fourths column">
      .three-fourths
    </div>
  </div>

  <div class="columns">
    <div class="one-third column">
      .one-third
    </div>
    <div class="two-thirds column">
      .two-thirds
    </div>
  </div>

  <div class="columns">
    <div class="one-half column">
      .one-half
    </div>
    <div class="one-half column">
      .one-half
    </div>
  </div>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-fifth column"</span><span class="nt">&gt;</span>
      .one-fifth
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"four-fifths column"</span><span class="nt">&gt;</span>
      .four-fifths
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-fourth column"</span><span class="nt">&gt;</span>
      .one-fourth
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"three-fourths column"</span><span class="nt">&gt;</span>
      .three-fourths
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third column"</span><span class="nt">&gt;</span>
      .one-third
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"two-thirds column"</span><span class="nt">&gt;</span>
      .two-thirds
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column"</span><span class="nt">&gt;</span>
      .one-half
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column"</span><span class="nt">&gt;</span>
      .one-half
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="section-5">居中</h3>

<p>可以在<code class="highlighter-rouge">.column</code>类中添加<code class="highlighter-rouge">centered</code>使列<a href="/utilities/#centering-content">居中</a>。</p>

<div class="docs-example clearfix"><div class="columns">
  <div class="one-half column centered">
    .one-half
  </div>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column centered"</span><span class="nt">&gt;</span>
    .one-half
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

    </div>
  </div>
</div>


      <footer class="footer">
        版权 GitHub 2016.<br>
        由GitHub上的CSS团队开发和维护。 <strong>当前版本 v2.7.0。</strong>
		<a href="http://www.primercss.io" target="_blank">官方网址</a>
		<a href="https://github.com/primer/primer" target="_blank">官方GitHub</a>
      </footer>
    </div>

    <script src="/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
